body{
    font-family: 'Times New Roman', Times, serif;
    margin: 0px;
    padding: 0px;
    }

    .header{
        margin-top: 0px;
        background-color: #73238d;
        height: 100px;
        width: 1348px;
        position: fixed;

    } 

    .header-logo{
        float: left;
        font-size: 36px;
        color: white;
        font-style: oblique;
        padding: 25px;
        position: fixed; 
    }

    .header-logo span{
        color: #bf18e0;
    }

    .header .header-list a{
        color: white;
        text-decoration: none;
        padding-top: 20px;
        padding-left: 30px;
        padding-right: 10px;
        float: right;
        font-size: 20px;
    }

    .top-wrapper{

        margin-top: 0px;
        padding: 350px 0 300px 0;
        background-image: url(https://i.pinimg.com/originals/e4/23/93/e423939ed47b587e3fc0f15db60eadea.png);
        background-size: 1400px;
        color: white;
        text-align: center;
    }


    .main{
        margin-top: 30px;
        background-color: #ecb3ff;

    }

    .title{
        font-size: larger;
        text-align: center;
    }

    .contents{
        display: flex;
        flex-wrap: wrap;
        font-style: italic;
        font-size: 20px;
        text-align: center;
        justify-content: center;
    }

    .contents-item{
        padding-left: 10px;
    }

    .contents-item a{
        color: purple;
        text-decoration: none;
    }

    .contact-form{
        padding-top: 100px;
        padding-left: 30px;
        font-size: medium;
    }

    .section-footer{
        font-size: 25px;
    }

    input, textarea{
        width: 300px;
        margin-top: 10px;
        margin-bottom: 10px;
        padding: 10px;
        font-size: 18px;
        border: 2px solid #621d68;

    }

    .contact-submit{
        margin-top: 10px;
        background-color: #bf18e0;
        padding-left: 20px;
        color: #000000; 
        font-style: italic ;
    }

    .footer{
        background-color: #d780ff;
        color: #fff;
        height: 100px;
    }

    .footer-list ul{
        padding: 40px;
        text-align: center;  
    }

    .footer .footer-list ul li{
        color: black;
        font-size: 20px;
        display: inline-block;
        padding-left: 20px;

    }



    @media (max-width: 768px) {
        header #branding,
        header nav,
        header nav li,
        #newsletter h1,
        #newsletter form,
        #boxes .box,
        article#main col,
        aside#sidebar {
            float: none;
            text-align: center;
            width: 100%;
        }
    }
    



